Source: sshkeyman
Section: utils
Priority: optional
Maintainer: Hervé Martinet, <herve.martinet@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2

Package: sshkeyman
Architecture: all
Section: utils
Depends: python (>= 2.7), python-qt4 (>= 4.7), python-paramiko (>= 1.7), python-jsonschema
Description: This software provides an UI to manage SSH keys on multiple servers